@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./theme.css";
@import "./system.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-body-foreground;
  }
  html {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline text-headline-foreground;
  }
  label {
    @apply font-label text-label-foreground;
  }
}

/* Reglas de tamaño y renderizado para Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative !important;
  isolation: isolate;
  z-index: 0 !important;
  outline: none;
}

